[
  {server, [
    {cacertfile, "/etc/rabbitmq/conf/ca_certificate.pem"},
    {certfile,   "/etc/rabbitmq/conf/server_certificate.pem"},
    {keyfile,    "/etc/rabbitmq/conf/server_key.pem"},
    {verify, verify_none},
    {fail_if_no_peer_cert, true}
  ]},
  {client, [
    {cacertfile, "/etc/rabbitmq/conf/ca_certificate.pem"},
    {certfile,   "/etc/rabbitmq/conf/client_certificate.pem"},
    {keyfile,    "/etc/rabbitmq/conf/client_key.pem"},
    {verify, verify_none}
  ]}
].