# Bot username
bot.username=
# Bot token
bot.token=
# Bot creator telegram id
bot.creator-id=
# Elastic user for metrics export
elastic.username=elastic
# Elastic user password for metrics export
elastic.password=testPassword