# Username for Mongo admin
admin_username=testUser
# Password for Mongo admin
admin_password=testPassword
# Username for application user
app_username=telegramApp
# Username for elastic agent user
agent_username=elasticAgent